/* Styles: GymLifestyle*/

.bg-nav{
    background-color: #D92534;
}

.bg-red-sec{
    background-color: #A6032F;
}

h1{
    font-family: 'Barlow Condensed', sans-serif;
}

p{
    font-family: 'Arimo', sans-serif;
}